html, body {
  margin: 0;
  padding: 0;
  color: white;
  background: #fbfbfb;
  font-family: 'Montserrat', sans-serif;
  background-image: url('./assets/doctor.png');
  background-size: cover; 
}

.app {
  height: 100vh;
}

a {
  text-decoration: none;
}
.header {
  height: 6rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
  align-items: center;
}

.container {
  height: 100%;
}

.rc-container {
  height: 30rem;
}

.footer {
  height: 5.6rem;
  background-color: #56575a78;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.nav {
  height: 100%;
  display: flex;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  display: inline;
}
.li-image {
  margin-right: 20px;
  height: 35px;
  width: 35px;
  height: 100%;
}

.li-links {
  color: #15b515; 
  margin-right: 40px;
}
li:hover {
  cursor: pointer;
}

.signUpForm{
  margin-left: 5rem !important;
  padding-top: 5rem !important;
}
.contact-container {
  display: flex;
  justify-content: space-evenly;
}
.contact-container div {
  flex-basis: 40%;
}
.content-box {
  border-top: 1px solid #eee;
  text-align: center;
  padding: 25px 0;
}