body,
html {
    margin: 0;
    padding: 0;
    color: #fff;
    background: #fbfbfb;
    font-family: Montserrat, sans-serif;
    background-image: url(assets/doctor.png);
    background-size: cover
}

.header .logo-image {
    margin-left: 20px;
}
.app {
    height: 100%;
    width: 100%
}

a {
    text-decoration: none
}

.header {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    align-items: center;
    box-shadow: 12px 7px 14px 2px #06060652;
}

.container {
    height: 100%
}

.rc-container {
    height: calc(100vh - 10.6rem);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    color: #fff;
    width: 80%;
    margin: auto;
    overflow-y: overlay
}

.footer {
    height: 4.6rem;
    background-color: rgba(86, 87, 90, .47);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
    font-size: 1.5rem;
    clear: both;
    position: relative;
    margin-top: 16px;
    width: 100%
}

.nav {
    height: 100%
}

.nav,
ul.nav-list {
    display: flex;
    justify-content: center
}

ul.nav-list {
    list-style: none;
    align-items: center;
    margin: 0;
}

.li-image {
    margin-right: 20px;
    height: 35px;
    width: 35px;
    height: 100%
}

.li-links {
    color: #15b515;
    margin-right: 40px
}

li:hover {
    cursor: pointer
}

.signUpForm {
    margin: 0 5rem !important;
    padding-top: 5rem !important
}

.contact-container {
    display: flex;
    justify-content: space-evenly
}

.contact-container div {
    flex-basis: 40%;
    height: 88%
}

.content-box {
    border-top: 1px solid #eee;
    text-align: center;
    padding: 25px 0
}

.reviewBox {
    padding: 10px;
    z-index: 10
}

.reviewBox div {
    height: 100%;
    width: 100%;
    background: rgba(181, 118, 94, .63)
}

.grid-3 .grid-6 .grid-9 .grid-12,
.reviewBox div {
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s
}

.grid-3 .grid-6 .grid-9 .grid-12 {
    -webkit-transform-origin: left;
    transform-origin: left
}

.reviewBox div:hover {
    -webkit-transform: scale(1.8);
    transform: scale(1.8)
}

#user_form_gender.widthInputStyle,
input.widthInputStyle {
    width: 255px
}

.embed-google-map {
    width: 400px;
    height: 430px;
}

.rc-container-contact {
    height: calc(100vh - 10.6rem) !important;
    padding: 2rem 3rem;
}

@media screen and (max-width:60em) {
    .rc-container {
        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(1, 1fr)
    }

    .contact-container {
        display: block
    }

    .contact-container div,
    .inputClass {
        width: 100%
    }

    #user_form_date.widthInputStyle,
    #user_form_gender.widthInputStyle,
    input.widthInputStyle {
        width: 150px
    }

    .signUpForm {
        margin: 0 2rem !important;
        padding-top: 2rem !important
    }

    .footer {
        font-size: 1rem
    }

    #google-reviews {
        height: auto !important
    }

    .rc-container-contact {
        height: auto !important;
        padding: 2rem 1rem !important
    }

    .embed-google-map {
        height: inherit;
        width: inherit
    }
}

.nav_active {
    font-weight: 900
}

.mobile-dropdown-link {
    display: flex;
    align-items: center;
    margin-right: 20px
}

ul.mobile-dropdown-menu {
    background: #98a8aa;
    text-align: center
}

ul.mobile-dropdown-menu.li>a {
    color: #fff;
    font-weight: 900
}

#google-reviews {
    display: flex;
    flex-wrap: wrap;
    font-family: arial;
    font-size: 12px;
    height: calc(100vh - 10.6rem)
}

.review-item {
    border: none;
    margin: 0 auto;
    padding: 1.3em;
    flex: 1 1 20%;
    color: #fff;
    background: #99a7aa
}

@media (max-width:1200px) {
    .review-item {
        flex: 1 1 40%
    }
}

@media (max-width:450px) {
    .review-item {
        flex: 1 1 90%
    }
}

.review-meta,
.review-stars {
    text-align: center;
    font-size: 115%
}

.review-author {
    text-transform: capitalize;
    font-weight: 700
}

.review-date {
    opacity: .6;
    display: block
}

.review-text {
    line-height: 1.55;
    text-align: left;
    max-width: 32em;
    margin: auto
}

.review-stars ul {
    display: inline-block;
    list-style: none !important;
    margin: 0;
    padding: 0
}

.review-stars ul li {
    float: left;
    list-style: none !important;
    margin-right: 1px;
    line-height: 1
}

.review-stars ul li i {
    color: #e4b248;
    font-size: 1.4em;
    font-style: normal
}

.review-stars ul li i.inactive {
    color: #c6c6c6
}

.star:after {
    content: "\2605"
}

body {
    margin: 0;
    font-family: Montserrat, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace
}

/*# sourceMappingURL=main.62756e2b.chunk.css.map */